<a href="https://colab.research.google.com/github/zhaoziqian2019240083/2022.3-/blob/main/3_21_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 8; print(a)

8

In [ ]:
b = 8; print(type(b))

c = 8.2; print(type(c))

<class 'int'>
<class 'float'>

In [ ]:
d = '234'; print(type(d)); print(d[0])
print(d[1],d[2])
print(d[-2],d[-3],d[0])
print(d[1:])

e = 'hello'; print(type(e)); print(e[2])

<class 'str'>
2
3 4
3 2 2
34
<class 'str'>
l

이것은 string에 대한 연습입니다.


*   string ' '/ " "


*   string: number/letter


*   print(d[0])  
0부터 순서 세는다.
d[0]은 string 안에 첫 번째 숫자이다.

In [ ]:
f = [3, 4, 5, 6]; print(type(f)); print(f); print(f[2])

<class 'list'>
[3, 4, 5, 6]
5

In [ ]:
f = ['a', 4, 'tennis', [1,2,'heart']]
print(type(f))
print(type(f[0]))
print(type(f[3]))

<class 'list'>
<class 'str'>
<class 'list'>

In [ ]:
print(f [1:3])
print(f [:])
print(f [1:])
print(f [:2])
print(f [1:-1])
print(f [3][2])

[4, 'tennis']
['a', 4, 'tennis', [1, 2, 'heart']]
[4, 'tennis', [1, 2, 'heart']]
['a', 4]
[4, 'tennis']
heart

이것은 list에 대한 연습입니다.



*   첫 번째 숫자는 0번째이고, 마지막 숫자는 -1번째이다.
*   
:  string&list 사용방법이 같은다.

*   f [3][2] list안의 변수를 순서대로 print

In [ ]:
g =	{"1": "blade", "b": "runner", "23": 2049}
print(type(g))
print(g["1"])
print(g["b"])
print(g["23"])

<class 'dict'>
blade
runner
2049

이것은 dict에 대한 연습입니다.

*   dict는 {} 로 표현한다.
*  dict={"key": "value"}
*  외에 coding중 1는 key,:되에 value 이다.
*  dict속에 key를 입력해 value를 불러온다.
*  dict속에 순서를 따지지 않다